@import 'nav.css';

body {
  background-color: goldenrod;
  margin: 0;
}

.content{
  display: flex;
}

img{
  max-width: 90%;
}

.fishlist {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  justify-content: space-between;
}
.fishList {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  justify-content: space-between;
}

.fish{
  flex-basis: 30%;
}

.tipList{
  padding: 5px;
}

.locations{
  display: flex;
  justify-content: space-between;
}

.locationCard{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}
.location__card{
  border: 1px black dotted;
  padding: .5em;
  background-color: coral;
  margin: 1px;
  flex-basis: 18%;
}
.tips{
  border: 1px black solid;
  padding: .5em;
  margin: .5em;
  display: flex;
}
.quote{
  flex-basis: 30%;
  font-family: cursive;
  font-size: 18px;
  text-align: center;
}
.highlightFish{
  background-color: darkblue;
  color: rebeccapurple;
}
.tipBorder{
  background-image: url("../Bruce.jpeg");
  color: white;
}
@media (max-width: 600px){
.fishies{
  flex-basis: 100%;
}
tipList{
  flex-basis: 100%;
}



